<div class="d-flex flex-column flex-shrink-0 p-3 bg-light h-100" style="width: 25vw;">
  <div href="/" class="d-flex align-items-center gap-4 mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <img src="/images/logo_est.png" alt="ESTF" class="rounded w-25">
    <h1 class="mb-0 mt-3">ESTF</h1>
  </div>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto gap-2">
    <li>
      <a  class="nav-link fs-5 fw-bold" routerLink="/admin/dashboard/users" aria-current="page" routerLinkActive="active">
        <i class="bi bi-people"></i>
        users
      </a>
    </li>
    <li>
      <a class="nav-link fs-5 fw-bold" routerLink="/admin/dashboard/new-users" routerLinkActive="active">
        <i class="bi bi-person-plus"></i>
        new users
      </a>
    </li>
    <li>
      <a class="nav-link fs-5 fw-bold" routerLink="/admin/dashboard/posts" routerLinkActive="active">
        <i class="bi bi-images"></i>
        posts
      </a>
    </li>
    <li>
      <a class="nav-link fs-5 fw-bold" routerLink="/admin/dashboard/new-posts" routerLinkActive="active">
        <i class="bi bi-file-earmark-post"></i>
        new posts
      </a>
    </li>
    <li>
      <button class="nav-link fs-5 fw-bold">
        <i class="bi bi-plus-circle"></i>
        announce
      </button>
    </li>
  </ul>
  <hr>
  <div>
    <button type="button" class="btn btn-light w-100">
      <i class="bi bi-box-arrow-left"></i>
      Log out
    </button>
  </div>
</div>
