section > div.p-5.bg-image {
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');

}

:host{
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

