section > div.p-5.bg-image {
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');

}
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
:host{
  height: 90%;
  width: 70%;
  position: relative;
  top: 5%;
  left: 15%;
  align-items: center;
  justify-content: center;
  display: flex;
}

