<div class="chat flex-row" (click)="onClick()" [id]="conversation._id">

  <img [src]="friend.avatar" alt="" class="roundcorner profilePicture" />
<!--   <ng-container *ngFor="let p of conversation.participents">
    <ng-container *ngIf="p._id !== _id">
    </ng-container>
  </ng-container> -->


  <div class="text flex-column ">
    <span><b>{{friend.name}}</b></span>
<!--     <ng-container *ngFor="let p of conversation?.participents">
      <ng-container *ngIf="p._id !== _id">
      </ng-container>
    </ng-container> -->
    <span class="lastMessage">{{conversation.messages[conversation.messages.length- 1].content}}</span>
  </div>

  <span *ngIf="unReadMessages" class="unread-messages">{{unReadMessages}}</span>
</div>
