<div class="container flex-row ">

  <div class="nav flex-column">

    <div class="profile flex-row flex-row-center">
      <img src="https://i.pravatar.cc/34" alt="" class="roundcorner profilePicture" />
      <span>Mohammed mesbahi</span>
    </div>

    <div class="search">
      <input type="text" name="" id="" placeholder="search" />
    </div>

    <div class="chats flex-column">
      <div class="chat flex-row">
        <img src="https://i.pravatar.cc/34" alt=""  class="roundcorner profilePicture"/>
        <div class="text flex-column flex-row-center">
          <h6>user Name</h6>
          <span>last message</span>
        </div>
      </div>
      <div class="chat flex-row">
        <img src="https://i.pravatar.cc/34" alt=""  class="roundcorner profilePicture"/>
        <div class="text flex-column">
          <span>user Name</span>
          <span>last message</span>
        </div>
      </div>
      <div class="chat flex-row">
        <img src="https://i.pravatar.cc/34" alt=""  class="roundcorner profilePicture"/>
        <div class="text flex-column">
          <span>user Name</span>
          <span>last message</span>
        </div>
      </div>
      <div class="chat flex-row">
        <img src="https://i.pravatar.cc/34" alt=""  class="roundcorner profilePicture"/>
        <div class="text flex-column">
          <span>user Name</span>
          <span>last message</span>
        </div>
      </div>
    </div>

  </div>

  <div class="chatContainer flex-column">
    <ng-container *ngIf="!selectedUser">
      <div class="emptyChat flex-column flex-center fill">
        <i class="bi bi-send"></i>
        <span>send private photos and messages to a friend or group</span>
        <button>Send Messages</button>
      </div>
    </ng-container>

    <ng-container *ngIf="selectedUser">
      <div class="header flex-row " #user [id]="selectedUser.userId">
      <div class="friendProfile flex-row">
        <img [src]="selectedUser.imgUrl" alt="" class="roundcorner"/>
        <span>{{selectedUser.userName}}</span>
      </div>
    </div>
    <ul class="messages flex-column">
      <li class="hisMessage">message1</li>
      <li class="hisMessage">message1</li>
      <li class="hisMessage">message1</li>
      <li class="myMessage">message1</li>
    </ul>
    <div class="inputMessage flex-row space-around flex-row-center">
      <input type="text" name="" id="" placeholder="Message..." (keyup.enter)="sendMessage(message.value,user.id)" #message />
      <button><i class="bi bi-send-fill"></i></button>
    </div>
    </ng-container>

  </div>
</div>


