<div class="container flex-row ">

  <div class="nav flex-column">

    <div class="profile flex-row flex-row-center">
      <img src="https://i.pravatar.cc/34" alt="" class="roundcorner profilePicture" />
      <span>Mohammed mesbahi</span>
    </div>

    <div class="search">
      <input type="text" name="" id="" placeholder="search" />
    </div>

    <div class="chats flex-column">
      <div class="chat flex-row" *ngFor="let chat of chats | keyvalue" (click)="setUser(chat)">
        <img src="https://i.pravatar.cc/34" alt=""  class="roundcorner profilePicture"/>
        <div class="text flex-column ">
          <span><b>{{chat.key}}</b></span>
          <span class="lastMessage">{{chat.value[0].content}}</span>
        </div>
      </div>
    </div>

  </div>

  <div class="chatContainer flex-column" >
    <ng-container *ngIf="!selectedUser">
      <div class="emptyChat flex-column flex-center fill">
        <i class="bi bi-send"></i>
        <span>send private photos and messages to a friend or group</span>
        <button>Send Messages</button>
      </div>
    </ng-container>

    <ng-container *ngIf="selectedUser">
      <div class="header flex-row " #profileId [id]="selectedUser.key">
      <div class="friendProfile flex-row">
        <img [src]="selectedUser.imgUrl" alt="" class="roundcorner"/>
        <span>{{selectedUser.key}}</span>
      </div>
    </div>
    <ul #messagesDiv class="messages flex-column">

      <li [ngClass]="{
        'hisMessage':message.sender!=me,
        'myMessage':message.sender==me
      }" *ngFor="let message of selectedUser.value">
        {{message.content}}
      </li>
    </ul>
    <div class="inputMessage flex-row space-around flex-row-center">
      <input type="text" name="" id="" placeholder="Message..." (keyup.enter)="sendMessage(message.value,selectedUser.key)" #message />
      <button><i class="bi bi-send-fill"></i></button>
    </div>
    </ng-container>

  </div>
</div>


