<div class="feed" >
  <app-nav></app-nav>
  <div class="profile flex-column fill-height flex-grow-1" *ngIf="!isLoading">

  <section class="top flex-row flex-row-center fill-width border-bottom">
    <div class="margin-left-right">
      <img [src]="user.avatar" alt="" class="roundcorner profilePicture scaleten"/>
    </div>
    <div class="infos flex-column">

      <div class="social flex-row">
        <span><b>{{posts.length}}</b> post{{posts.length > 1 ? 's':''}} </span>
        <span><b>{{user.followers?.length}}</b> followers</span>
        <span><b>{{user.following?.length}}</b> following</span>
      </div>
      <button type="button" class="btn btn-primary">{{followOrUnfollow}} {{user.name}}</button>
    </div>
  </section>

  <section class="bottom flex-column fill-width">
    <h1 class="fill-width">Posts</h1>
    <div class="posts container d-flex grid gap-3 flex-wrap" *ngIf="posts">
      <ng-container *ngFor="let post of posts">
        <div class="col-3">
          <app-post [post]="post"></app-post>
        </div>
    </ng-container>

    </div>
  </section>
</div>
</div>

