<div class="feed" >
  <app-nav></app-nav>
  <div class="profile flex-column fill-height flex-grow-1">

  <section class="top flex-row flex-row-center fill-width border-bottom">
    <div class="margin-left-right">
      <img [src]="me.avatar" alt="" class="roundcorner profilePicture scaleten"/>
    </div>
    <div class="infos flex-column">

      <div class="actions flex-row flex-row-center">
        <span class="userName">{{me.name}}</span>
        <button>edit profile</button>
        <i class="bi bi-gear-wide"></i>
      </div>

      <div class="social flex-row">
        <span><b>{{posts.length}}</b> post{{posts.length > 1 ? 's':''}} </span>
        <span><b>{{me.followers?.length}}</b> followers</span>
        <span><b>{{me.following?.length}}</b> following</span>
      </div>
    </div>
  </section>

  <section class="bottom flex-column fill-width">
    <h1 class="fill-width">Posts</h1>
    <div class="d-flex gap-3 row-cols-7 flex-wrap " *ngIf="posts">
      <ng-container *ngFor="let post of posts">
        <div class="col-3 d-flex flex-align-stretch" >
          <app-light-post [post]="post"></app-light-post>
        </div>
    </ng-container>

    </div>
  </section>
</div>
</div>


