.user{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 10px;
  padding-left: 0px;
  overflow: auto;
  transition: 1s;
}
input {
  width: 100%;
  padding: 10px;
  border: none;
}
input:focus{
  outline: none;
}
.user img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.notFound{
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

/* loading effect */

.skeleton {
  opacity: .7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: .9rem;
  margin-bottom: .25rem;
  border-radius: .125rem;
}

.skeleton-text:last-child {
  margin-bottom: 0;
  width: 80%;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

/*  -   ---------------------------------   */
