<div class="post" [id]="post._id" *ngIf="post">
  <div class="profileInfo">
    <div class="css-after-gradiant">
      <img [src]="post.owner.avatar" class="skeleton" />
    </div>
    <h3>{{post.owner.name}}</h3>
  </div>
  <div class="body">
    <img [src]="post.media" *ngIf="post.media">
    <p>{{post.caption | summary:300}} </p>
  </div>
  <div class="recactions">
    <button class="like" (click)="toggleLike()"><i class="bi" [ngClass]="{'bi-heart-fill':didILiked,'bi-heart':!didILiked}"></i> <span>{{post.reactions.length}}</span></button>
    <button class="commont"><i class="bi bi-card-heading"></i></button>
  </div>
  <button class="btnComments" *ngIf="post.comments.length" (click)="showComments=!showComments">
    view all
    {{post.comments.length}} comments</button>
  <div *ngIf="showComments">
    <ng-container *ngFor="let comment of post.comments">
      <div class="comment">
        <div class="info">
          <img [src]="comment.owner.avatar" class="skeleton" />
          <span>{{comment.owner.name}}</span>
        </div>
        <p>{{comment.commentText}}</p>
      </div>
    </ng-container>
  </div>
  <textarea rows="1" class="inputComment" type="text" placeholder="Add a comment" (keyup.enter)="postComment(comment.value);comment.value=''" #comment></textarea>
</div>
