.post {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.profileInfo{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    padding: 10px;
    padding-left: 0px;
}
/*
STYLE AMIGE PROFILE

*/
.profileInfo img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
/* END */

/*
 like button
*/
.recactions {
    display: flex;
    align-items: center;
}
.recactions button{
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
    border: none;
    background: none;
}
.inputComment{
    resize: none;
    padding: 10px 20px;
    border: none;
    background: none;
    border-bottom: 1px solid lightgray;
}
.inputComment:focus{
    background: none;
    outline: none;
}
.body img{
  width: 99%;
  align-self: center;
}
button.btnComments{
  background-color: inherit;
  border: none;
  align-self: flex-start;
}
.comment{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left:8px;
}
.comment img{
  width: 25px;
  border-radius: 50%;
}
.info{
 display: flex;
 flex-direction: row;
 gap: 10px;
}
*{
  transition: 0.5;
}
i.bi.bi-heart-fill {
  color: #C13584;
}
