/* You can add global styles to this file, and also import other style files */
@import '~bootstrap-icons/font/bootstrap-icons.css';
*{
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.card {
    width: 60vw;
}
.card form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 
 Skeleton Loading Animation With CSS
 
 */
 .skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
  }
  
  .skeleton-text {
    width: 100%;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .125rem;
  }
  
  .skeleton-text:last-child {
    margin-bottom: 0;
    width: 80%;
  }
  
  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 70%);
    }
  
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }

  /*  -   ---------------------------------   */