/* You can add global styles to this file, and also import other style files */
@import '~bootstrap-icons/font/bootstrap-icons.css';
*{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0%;

}
.feed{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
}
/* scroll bar  */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
  background-color: #C13584;
  border-radius: 100px;
}


html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
